*{
    background-color: rgb(110, 111, 111);
    margin: 0%;
    padding: 0%;
}
p{
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 3vh;
    border-radius: 22px;
    border-left: 3vw solid rgba(255, 255, 0, 0.764);
    border-right: 3vw solid rgba(35, 208, 29, 0.719);
    border-bottom: 3vw solid rgba(255, 68, 0, 0.707);
    border-top: 3vw solid rgba(61, 120, 196, 0.705);
}
label4{
    background-color: brown;
    font-weight: 500;
    text-decoration: wavy;
}
label5{
    background-color: rgb(99, 174, 76);
    font-weight: 300;
    text-decoration: wavy;
}
label6{
    background-color: rgb(222, 102, 28);
    font-weight: 300;
    text-decoration: wavy;
}
label7{
    background-color: rgb(214, 43, 203);
    font-weight: 300;
    text-decoration: wavy;
}
.back2{
    width: 63px;
    margin-left: 37%;
    height: 27px;
    background-color: blue;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 2px solid blue;
    @media screen and (max-width:1000px) {
        font-size: small;
        margin: 0%;
        width: 63px;
        margin-left: 124px;
        margin-top: 2px;
       }
    }
